body{
    position: absolute;
    left: 0;
    right: 0;
}

a,input{
    outline: none;
}

.header-main{
    position: relative;
    width: 100%;
    background-color: #6ebe25;
    height: 52px;
}

.logo{
    float: left;
    margin-left: 15px;
    width: auto;
    height: 100%;
}

.top-work-box{
    float: right;
    height: 100%;
    width: auto;
    margin-right: 10px;
}

.top-link{
    position: relative;
    float: right;
    margin-right: 5px;
    height: 100%;
    width: 70px;
}

.top-link-text{
    position: absolute;
    margin-top: 15px;
    width: 100%;
    color: #1a1013;
}

.page-main{
    position: relative;
    width: 100%;
    height: auto;
}

