//
   Created by oujunhaku on 16/08/17.

doctype
html
    head
        title="Best memory belongs to us"
        meta(charset="UTF-8")

    body
        div(class="header-main")
            div(class="logo")
                //image
                span="LOGO"
            div(class="top-button")
                a="帮助"

        div(class="page-main")
            div(class="page-login")
                div(class="message-box")
                div(class="login-box")


        include footer.jade
