//
   Created by oujunhaku on 16/08/18.

doctype
html
    head
        title="新用户注册"
        meta(charset="UTF-8")

    body
        include layout/_header

        div.page-main
            div.page-register
                div.register-box
                    div.register-title
                        h1="新用户注册"
                    div.register-list
                        table
                            tr
                                th
                                td



                div.register-message