//
   Created by wangrunbo on 16/08/28.

doctype html
html
    head
        title="注册成功"
        meta(charset="UTF-8")
        //Import jQuery and other required scripts
        include scripts
        //Import css and javascripts

    body
        include layout/_header

        div.page-main


        include layout/footer