//
   Created by oujunhaku on 16/08/22.

doctype html
html
    head
        title="test"
        meta(charset="UTF-8")
        include scripts
        script(type='text/javascript' src='javascripts/test.js')
    body
