.page-register{
    position: relative;
    padding: 50px 150px 50px 150px;
    height: auto;
    width: auto;
}

.register-box{
    position: relative;
    height: auto;
    width: 70%;
}

.register-title{
    height: auto;
    width: 100%;
    color: #ff0000;
}

.register-list{
    height: auto;
    width: 100%;
}

.register-label{
    width: auto;
    height: 40px;
    text-align: right;
    color: #ff5e26;
}

.register-info{
    width: 280px;
    height: auto;
}

.register-input{
    width: 260px;
    height: 30px;
    margin-left: 10px;
}

.register-alert{
    font-size: small;
    color: #ffb81c;
}

.register-gender{
    width: 30%;
    height: auto;
    margin-top: 3px;
    float: left;
    font-size: large;
}

.register-birthday{
    width: auto;
    height: auto;
    margin-top: 3px;
}

.birthday-select{
    width: auto;
    height: 24px;
}

.birthday-text{
    font-size: large;
}

.captcha-label{
    width: auto;
    height: 50px;
    text-align: right;
}

.captcha-info{
    width: auto;
    height: auto;
}

.captcha-input{
    width: 40%;
    height: 48px;
    margin-left: 10px;
    font-size: 20px;
}

.captcha-img{
    width: auto;
    height: 48px;
    margin-left: 10px;
}