//
   Created by oujunhaku on 16/08/17.

link(rel='stylesheet' type="text/css" href='/stylesheets/layout/header.css')

div.header-main
    div.logo
        //image
        span(style="font-size: 36px")="LOGO"
    div.top-work-box
        div.top-link
            a.top-link-text(href="#")="反馈意见"
        div.top-link
            a.top-link-text(href="#")="帮助"
        div.top-link
            a.top-link-text(href="/login")="登录"