//
   Created by oujunhaku on 16/08/17.

link(rel='stylesheet' type="text/css" href='/stylesheets/layout/header.css')

div(class="header-main")
    div(class="logo")
        //image
        span(style="font-size: 36px")="LOGO"
    div(class="top-work-box")
        div(class="top-link")
            a(class="top-link-text" href="#")="反馈意见"
        div(class="top-link")
            a(class="top-link-text" href="#")="帮助"